.battlebookpage {
  padding: 20px;
  color: #ffffff; 
}

.battlebookpage .header {
  text-align: center;
}

.battlebookpage .header-image {
  max-width: 100%;
  height: auto;
}

.battlebookpage .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
