.card {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.card-image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
}
.card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding: 5px 0;
  box-sizing: border-box;
}
