.card-detail-container {
  display: flex;
  justify-content: center;
  max-width: 835px;
  width: 100%;
  border-radius: 10px; /* 둥근 모서리 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.card-detail {
  display: flex;
  width: 100%;
}

.card-image-full {
  flex: 6;
  background-color: #000; /* 이미지 배경색 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.card-image-full img {
  max-width: 100%;
  height: auto;
  width: 100%; /* 이미지의 크기를 조정합니다 */
}

.card-name-overlay {
  /* position: absolute; */
  bottom: 90%; /* 이미지 아래쪽에 위치 */
  text-align: center;
  width: 100%;
  color: #fff; /* 텍스트 색상 */
  font-size: 150%; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 */
}

.card-level-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.card-level-control button,
.card-level-control span {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  height: 30px;
  font-size: 16px;
  flex: 1; /* 버튼과 숫자를 이미지의 너비에 맞추기 위해 확장 */
  text-align: center; /* 숫자를 가운데 정렬 */
}

.card-level-control button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.card-description {
  flex: 7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #282c34;
  color: #ffffff;
}

.description-top,
.description-middle,
.description-bottom {
  padding: 10px;
  border-bottom: 1px solid #333; /* 구분선을 추가 */
}
.description-top {
  flex: 2;
}
.description-middle {
  flex: 1;
}
.description-bottom {
  flex: 3;
}
.description-top,
.description-middle {
  border-top: none;
  flex-direction: column;
  align-items: left;
}

.description-top p,
.description-middle p {
  margin: 2px 0; /* 각 줄 사이에 여백 추가 */
}
.description-top .title,
.description-middle .title {
  font-weight: bold;
  color: #ffd700; /* 연노랑색 */
  margin: 0;
}

.description-bottom {
  border-bottom: none;
}

.card-description h2 {
  margin-top: 0;
}

.card-description p {
  margin-top: 5px;
}

.activation-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
