.card-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  justify-content: center;
  max-width: 835px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-detail {
  margin-top: 20px;
}
